devops/roles/nodered-oadr-ven/files/flows_default.json
[{"id":"1dffdf2e.789011","type":"tab","label":"OADR Logic","disabled":false,"info":""},{"id":"f1a6d320.00a1e","type":"tls-config","z":"","name":"ven1.oadr.com","cert":"/opt/oadr-vtn20b/cert/ven1.oadr.com.crt","key":"/opt/oadr-vtn20b/cert/ven1.oadr.com.key","ca":"/opt/oadr-vtn20b/cert/oadr.com.crt","certname":"oadr.avob.com.crt","keyname":"oadr.avob.com.key","caname":"ca.crt","servername":"","verifyservercert":true},{"id":"696de223.b4ebec","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"209e5971.89aa06","type":"ui_group","z":"","name":"Registration","tab":"696de223.b4ebec","order":1,"disp":true,"width":"6","collapse":false},{"id":"225a8f1a.d7048","type":"ui_group","z":"","name":"Events","tab":"696de223.b4ebec","order":2,"disp":true,"width":"20","collapse":false},{"id":"13341368.3a4cfd","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee3b7d6e.35fe2","type":"ui_group","z":"","name":"Command","tab":"696de223.b4ebec","disp":true,"width":"6","collapse":false},{"id":"ac26414f.30755","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"QueryRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":720,"wires":[["7b2e7a5f.81acf4"]]},{"id":"b0a87681.4bbea8","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"CreatePartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":197.50006103515625,"y":758.25,"wires":[["7b2e7a5f.81acf4"]]},{"id":"281da069.ff15f","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"RequestEvent","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":168.25003051757812,"y":923.7499389648438,"wires":[["7b2e7a5f.81acf4"]]},{"id":"cc442aaa.171bf8","type":"inject","z":"1dffdf2e.789011","name":"Single Poll","topic":"","payload":"Poll","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":167.50015258789062,"y":1027.2499389648438,"wires":[["7b2e7a5f.81acf4"]]},{"id":"2a14239d.71a25c","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"CancelPartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":880,"wires":[["7b2e7a5f.81acf4"]]},{"id":"85c350c7.a0925","type":"debug","z":"1dffdf2e.789011","name":"","active":true,"console":"false","complete":"payload.data","x":970,"y":580,"wires":[]},{"id":"915b083c.1cb0d8","type":"inject","z":"1dffdf2e.789011","name":"venID","topic":"","payload":"DEMO_VEN_NODE:IDs.venID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1170,"y":900,"wires":[["bfff5250.161ad"]]},{"id":"bfff5250.161ad","type":"debug","z":"1dffdf2e.789011","name":"","active":true,"console":"false","complete":"false","x":1367,"y":934.6499633789062,"wires":[]},{"id":"cbcfadcb.0bf1d","type":"inject","z":"1dffdf2e.789011","name":"vtnID","topic":"","payload":"DEMO_VEN_NODE:IDs.vtnID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1168.75,"y":949.6000061035156,"wires":[["bfff5250.161ad"]]},{"id":"676af627.4cfc18","type":"inject","z":"1dffdf2e.789011","name":"registrationID","topic":"","payload":"DEMO_VEN_NODE:IDs.registrationID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1152,"y":992.8499755859375,"wires":[["bfff5250.161ad"]]},{"id":"c46a09f9.3e2aa8","type":"switch","z":"1dffdf2e.789011","name":"Switch responseTypes","property":"oadr.responseType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreatedOpt","vt":"str"},{"t":"eq","v":"oadrCanceledOpt","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":440,"y":420,"wires":[["85c350c7.a0925","784baa34.7d5554"],["85c350c7.a0925"],["85c350c7.a0925","a0e34006.1ec15","b18237f5.b1abd8"],["85c350c7.a0925","54411fe6.ef24e"],["85c350c7.a0925","f150d196.79515"],[],[]]},{"id":"903a3418.137958","type":"comment","z":"1dffdf2e.789011","name":"Registration requests","info":"","x":197.50009155273438,"y":676.6900024414062,"wires":[]},{"id":"7b2e7a5f.81acf4","type":"function","z":"1dffdf2e.789011","name":"convert simple payload string to requestType","func":"let req = msg.payload;\nmsg.payload = {};\nmsg.payload.requestType = req;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":740,"wires":[["578ac1b4.838f7"]]},{"id":"29323785.22e678","type":"function","z":"1dffdf2e.789011","name":"Handle DistributeEvents Requests","func":"let data = msg.payload.data.oadrDistributeEvent;\n/*\nvar oadrDistributeEvent = msg.payload.data.oadrDistributeEvent;\nfor(var i in oadrDistributeEvent.oadrEvent) {\n    var oadrEvent = oadrDistributeEvent.oadrEvent[i]\n    var activePeriod = oadrEvent.eiEvent.eiActivePeriod;\n    node.log(JSON.stringify(activePeriod));\n}*/\nlet respMsg = {};\nrespMsg.payload = {};\nrespMsg.payload.requestID = data.requestID;\n//respMsg.payload.venID = '48ac6ed956e1f1f4fdbe';\n\nif(data.responseRequired === 'never'){\n    // don't repsone to broadcast messages\n    return;\n}\n\nrespMsg.payload.requestType = \"CreatedEvent\";\nrespMsg.payload.responseCode = \"200\";\nrespMsg.payload.responseDescription = \"\"\n\nlet eventArray = [];\n\nfor(var i in data.oadrEvent){\n    console.log(data.oadrEvent[i].oadrResponseRequired)\n    var event = xyz(data.oadrEvent[i]);\n    if(event){\n        eventArray.push(event)\n    }\n}\n\nif(eventArray.length > 0){\n    respMsg.payload.eventResponses = eventArray;\n}\n\nfunction xyz(event){\n    // Don't respond if not requested\n    if (event.oadrResponseRequired === 'never'){\n        return;\n    }\n    \n    let optType;\n    \n    let ed = event.eiEvent.eventDescriptor;\n    \n    switch(ed.eventStatus.toLowerCase()){\n        case('completed'):\n        case('canceled'):\n            optType = 'optOut';\n            break;\n        default: \n            optType = 'optIn';\n            break;\n    }\n    \n    if(optType === 'optIn'){\n        switch(ed.eiMarketContext.marketContext.toLowerCase()){\n            case('demand_response'):\n            case('http://marketcontext1'):\n                break;\n            default:\n                optType = 'optOut';\n                break;\n        }\n    }\n    \n    optType = (ed.eventStatus.toLowerCase() === 'completed' )? 'optOut' : 'optIn';\n    \n    \n    var createdEvent = {\n        responseCode: \"200\",\n        responseDescription: 'OK',\n        //requestID: '11111111',\n        qualifiedEventID : {\n            eventID: ed.eventID,\n            modificationNumber: ed.modificationNumber\n        },\n        optType: optType\n    };\n    console.log(createdEvent)\n    return createdEvent;\n\n}\n\nconsole.log(respMsg)\nreturn respMsg;","outputs":1,"noerr":0,"x":1100,"y":120,"wires":[["664e2454.44a75c"]],"outputLabels":["Response"]},{"id":"6e357478.e3ebcc","type":"function","z":"1dffdf2e.789011","name":"CreateParty Push","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"CreatePartyRegistration\",\n    oadrHttpPullModel: false,\n    stripPayloadEnv: true,\n    //oadrTransportAddress: 'http://localhost:8843'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":800,"wires":[["578ac1b4.838f7"]]},{"id":"c9558b1c.dc8168","type":"inject","z":"1dffdf2e.789011","name":"Register w/ Push","topic":"","payload":"CreatePartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":800,"wires":[["6e357478.e3ebcc"]]},{"id":"54411fe6.ef24e","type":"function","z":"1dffdf2e.789011","name":"RegisterReport","func":"let requestID = msg.payload.data.oadrRegisterReport.requestID;\n\nmsg = {};\n\nmsg.payload = {\n    requestType: 'RegisteredReport',\n    requestID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":500,"wires":[["dedd3887.b4e888","664e2454.44a75c"]]},{"id":"dedd3887.b4e888","type":"debug","z":"1dffdf2e.789011","name":"regreport","active":true,"console":"false","complete":"payload","x":1220,"y":500,"wires":[]},{"id":"f54dd2ff.ae13f","type":"switch","z":"1dffdf2e.789011","name":"Req or Rep","property":"oadr.msgType","propertyType":"msg","rules":[{"t":"eq","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":300,"wires":[["6398f490.ac7d3c"],["c46a09f9.3e2aa8"]]},{"id":"6398f490.ac7d3c","type":"switch","z":"1dffdf2e.789011","name":"Switch requestTypes","property":"oadr.requestType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrRequestReregistration","vt":"str"},{"t":"eq","v":"oadrCancelPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreateReport","vt":"str"},{"t":"eq","v":"oadrCancelReport","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":500,"y":220,"wires":[[],[],["b18237f5.b1abd8"],["54411fe6.ef24e","1021cf0e.d92251"],[],["2213545e.6880dc"],["6bad119c.51064"],["7418d07b.d94a2"],["816eb53e.358778"]]},{"id":"1021cf0e.d92251","type":"debug","z":"1dffdf2e.789011","name":"","active":true,"console":"false","complete":"false","x":970,"y":200,"wires":[]},{"id":"daa96a87.ce2c58","type":"function","z":"1dffdf2e.789011","name":"Auto Poll","func":"var pollMsg = {\n    payload: {\n        requestType : \"Poll\"\n    }\n};\n\nvar flowvar = \"DEMO_VEN_NODE:pollRate\";\nvar pollInt = flow.get(flowvar);\n//var pollInt = msg.payload;\n\nif (pollInt === 0) return;\n\nvar it = setInterval(doPolling, pollInt * 1000);\n\nnode.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n\nfunction doPolling(){\n    var newPollingInt = flow.get(flowvar);\n    if (newPollingInt === 0){\n        clearInterval(it);\n        node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n        return;\n    }\n    if (newPollingInt != pollInt){\n        clearInterval(it);\n        hbInt = newPollingInt;\n        it = setInterval(doPolling, pollInt * 1000);\n        node.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n    }\n    node.send(pollMsg);\n}\n\nnode.on('close', function(){\n    clearInterval(it);\n    node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n})\nreturn;","outputs":1,"noerr":0,"x":440.625,"y":1051.8125,"wires":[["578ac1b4.838f7"]]},{"id":"c852a937.868068","type":"inject","z":"1dffdf2e.789011","name":"Toggle Polling","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":175.37506103515625,"y":1061.6874389648438,"wires":[["daa96a87.ce2c58"]]},{"id":"a9e3e376.866f3","type":"link in","z":"1dffdf2e.789011","name":"OADR","links":["34dd8f26.4d23a","578ac1b4.838f7","664e2454.44a75c","bca19151.e0c12"],"x":91.87503051757812,"y":139.38753509521484,"wires":[["3352eecc.771e62"]]},{"id":"784baa34.7d5554","type":"function","z":"1dffdf2e.789011","name":"","func":"if (typeof msg.oadr.pollFreqSeconds === 'number'){\n    flow.set(\"DEMO_VEN_NODE:pollRate\", msg.oadr.pollFreqSeconds );\n}\n\nlet _ids = {\n    vtnID: msg.payload.data.oadrCreatedPartyRegistration.vtnID,\n    venID: msg.payload.data.oadrCreatedPartyRegistration.venID,\n    registrationID: msg.payload.data.oadrCreatedPartyRegistration.registrationID,\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":931.8750610351562,"y":543.5124816894531,"wires":[["48228dd7.b0df94","d79848be.d13558"]]},{"id":"48228dd7.b0df94","type":"link out","z":"1dffdf2e.789011","name":"","links":["72471075.73fb","b23f4853.ec7be8","4c762ac5.f464d4"],"x":1176.6250610351562,"y":614.0750122070312,"wires":[]},{"id":"f150d196.79515","type":"function","z":"1dffdf2e.789011","name":"","func":"flow.set(\"DEMO_VEN_NODE:pollRate\", 0 );\n\nlet _ids = {\n    vtnID: \"\",\n    venID: \"\",\n    registrationID: \"\"\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":893.5000610351562,"y":704.4499816894531,"wires":[["48228dd7.b0df94","799cbb82.63d9c4"]]},{"id":"799cbb82.63d9c4","type":"debug","z":"1dffdf2e.789011","name":"","active":true,"console":"false","complete":"false","x":1134.8750610351562,"y":702.3250122070312,"wires":[]},{"id":"d79848be.d13558","type":"debug","z":"1dffdf2e.789011","name":"","active":true,"console":"false","complete":"false","x":1136.8749389648438,"y":537.0750122070312,"wires":[]},{"id":"578ac1b4.838f7","type":"link out","z":"1dffdf2e.789011","name":"","links":["a9e3e376.866f3"],"x":775.625,"y":871.6250305175781,"wires":[]},{"id":"664e2454.44a75c","type":"link out","z":"1dffdf2e.789011","name":"","links":["a9e3e376.866f3"],"x":1275,"y":220,"wires":[]},{"id":"676088ad.e18ad8","type":"comment","z":"1dffdf2e.789011","name":"Show Globals","info":"","x":1152.375,"y":850.4124717712402,"wires":[]},{"id":"c7f9eb49.c6fef8","type":"function","z":"1dffdf2e.789011","name":"OptIn Multiple","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nlet d2 = new Date();\nlet d3 = new Date();\nd2.setDate(d1.getDate() + 1);\nd3.setDate(d2.getDate() + 1);\n\nlet components = [];\n\nlet available = {\n        properties: {\n            dtstart: {\n                dateTime: d1.toISOString()\n            },\n            duration: {\n                duration: 'PT5M'\n            }\n        }\n            \n    };\n\navailable.properties.dtstart.dateTime = d1.toISOString();\navailable.properties.duration.duration = 'PT5M';\navailable.properties.xEiRampUp = {\n    duration: 'PT2M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart.dateTime = d2.toISOString();\navailable.properties.duration.duration = 'PT10M';\navailable.properties.xEiRampUp = {\n    duration: 'PT12M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart.dateTime = d3.toISOString();\navailable.properties.duration.duration = 'PT15M';\navailable.properties.xEiRampUp = {\n    duration: 'PT22M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optIn',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    components: components\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":391.22222900390625,"y":1129.7222290039062,"wires":[["578ac1b4.838f7"]]},{"id":"a9f4f93.6737108","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"OptIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":146.11111450195312,"y":1128.4999389648438,"wires":[["c7f9eb49.c6fef8"]]},{"id":"e7c0a655.6507c8","type":"function","z":"1dffdf2e.789011","name":"OptOut 1H15M","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nd1.setDate(15);\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optOut',\n    optID: '111111111-OUT',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    dtstart: d1.toISOString(),\n    duration: 'PT1H15M'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390.55560302734375,"y":1184.2222900390625,"wires":[["578ac1b4.838f7"]]},{"id":"86fa50d7.c4a4b","type":"function","z":"1dffdf2e.789011","name":"Cancel OptOut 1H15M","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\n\nmsg.payload = { \n    requestType: \"CancelOpt\",\n    optID: '111111111-OUT'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":405.11114501953125,"y":1223.4443359375,"wires":[["578ac1b4.838f7"]]},{"id":"74e6a82c.43f578","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"OptOut","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":144.33331298828125,"y":1181.833251953125,"wires":[["e7c0a655.6507c8"]]},{"id":"bfb44e9b.91ea9","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"Cancel Opt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":152.77777099609375,"y":1222.833251953125,"wires":[["86fa50d7.c4a4b"]]},{"id":"c1a0e616.232958","type":"function","z":"1dffdf2e.789011","name":"2.0a requestEvent","func":"// let venID = '48ac6ed956e1f1f4fdbe';\nmsg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"RequestEvent\",\n//    venID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":431.5,"y":969.449951171875,"wires":[["578ac1b4.838f7"]]},{"id":"7c6a0c05.80cd54","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"RequestEvent 2.0a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":189,"y":967,"wires":[["c1a0e616.232958"]]},{"id":"3352eecc.771e62","type":"VEN","z":"1dffdf2e.789011","name":"DEMO_VEN_NODE","url":"https://vtn.oadr.com:8181/testvtn","tls":"f1a6d320.00a1e","profile":"2.0b","pushport":"8843","pushurl":"http://ven1.oadr.com","venid":"4A:D1:2E:95:49:43:80:0B:8D:E9","pollrate":"","stripPayloadEnv":true,"log":false,"pathlog":"","x":260,"y":140,"wires":[["f54dd2ff.ae13f"]]},{"id":"c19bd1f0.0b2a2","type":"inject","z":"1dffdf2e.789011","name":"venID","topic":"","payload":"DEMO_VEN_20A:IDs.venID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1161.25,"y":1087.0999755859375,"wires":[["bfff5250.161ad"]]},{"id":"27accbbf.e83424","type":"inject","z":"1dffdf2e.789011","name":"vtnID","topic":"","payload":"DEMO_VEN_20A:IDs.vtnID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1160,"y":1136.6999816894531,"wires":[["bfff5250.161ad"]]},{"id":"ec4db215.0968f","type":"inject","z":"1dffdf2e.789011","name":"registrationID","topic":"","payload":"DEMO_VEN_20A:IDs.registrationID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1143.25,"y":1179.949951171875,"wires":[["bfff5250.161ad"]]},{"id":"42fb5912.f18f88","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"RegisterReport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":169,"y":1280,"wires":[["af21da03.7faab8"]]},{"id":"af21da03.7faab8","type":"function","z":"1dffdf2e.789011","name":"Single RegisterReport","func":"msg.payload = {}\n\nvar dt = new Date().toISOString();\n\nmsg.payload.requestType = 'RegisterReport';\nmsg.payload.duration = 'PT2H';\nmsg.payload.marketContext = 'http://MarketContext1';\nmsg.payload.createdDateTime = dt;\n\nmsg.payload = {\n    requestType: 'RegisterReport',\n    duration: 'PT2H',\n    marketContext: 'http://oadr.avob.com',\n    createdDateTime: dt,\n    rID: 'resource1_status',\n    resourceID: 'resource1',\n    reportType: 'x-resourceStatus',\n    readingType: 'x-notApplicable',\n    oadrMinPeriod: 'PT1M',\n    oadrMaxPeriod: 'PT1M',\n    oadrOnChange: false,\n    reportRequestID: 0,\n    // reportSecifierID: uid,\n    reportName: 'METADATA_TELEMETRY_STATUS',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":401.5,"y":1281.8599853515625,"wires":[["578ac1b4.838f7"]]},{"id":"2213545e.6880dc","type":"function","z":"1dffdf2e.789011","name":"oadrRequestReregistration","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"Response\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\nvar regMsg = {}\nregMsg.payload = {};\nregMsg.payload.requestType = \"QueryRegistration\";\n\nnode.send(regMsg)\n\nreturn resMsg;","outputs":1,"noerr":0,"x":940,"y":240,"wires":[["664e2454.44a75c"]]},{"id":"6bad119c.51064","type":"function","z":"1dffdf2e.789011","name":"oadrCancelPartyRegistration","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"CanceledPartyRegistration\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\nglobal.set(\"DEMO_VEN_NODE:RegistrationProfile\", {})\n\nreturn resMsg;","outputs":1,"noerr":0,"x":940,"y":280,"wires":[["664e2454.44a75c"]]},{"id":"7418d07b.d94a2","type":"function","z":"1dffdf2e.789011","name":"oadrCreateReport","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"CreatedReport\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\nreturn resMsg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["664e2454.44a75c"]]},{"id":"816eb53e.358778","type":"function","z":"1dffdf2e.789011","name":"oadrCancelReport","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"CanceledReport\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\n\nconsole.log(resMsg)\n\nreturn resMsg;","outputs":1,"noerr":0,"x":930,"y":360,"wires":[["664e2454.44a75c"]]},{"id":"cc833474.1dd418","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"RegisterReport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":1340,"wires":[["e080335a.faa97"]]},{"id":"e080335a.faa97","type":"function","z":"1dffdf2e.789011","name":"Multiple RegisterReport","func":"msg.payload = {}\n\nvar dt = new Date().toISOString();\nvar reportTestTelemetry = {\n   \"eiReportID\": \"reportTestTelemetry\",\n   \"reportRequestID\": \"0\",\n   \"reportSpecifierID\": \"reportTestTelemetry\",\n   \"reportName\": \"METADATA_TELEMETRY_USAGE\",\n   \"createdDateTime\": dt,\n   oadrReportDescription: [\n        {\n            \"rid\": \"reportTestTelemetry_rid\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        } \n    ]\n}\n\nvar start = new Date(2018,0,1).toISOString();\nvar reportTestHistory = {\n   \"eiReportID\": \"reportTestHistory\",\n   \"reportRequestID\": \"0\",\n   \"reportSpecifierID\": \"reportTestHistory\",\n   \"reportName\": \"METADATA_HISTORY_USAGE\",\n   \"createdDateTime\": dt,\n   \"duration\": \"P1Y\",\n   \"dtstart\": start,\n   oadrReportDescription: [\n        {\n            \"rid\": \"reportTestTelemetry_rid_1\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        },\n        {\n            \"rid\": \"reportTestTelemetry_rid_2\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        } \n    ]\n}\n\nvar payload = {\n    requestID:\"0\",\n    venID:global.get(\"DEMO_VEN_NODE:IDs\").venID,\n    oadrReport: [\n       reportTestTelemetry,\n       reportTestHistory\n    ]\n}\n\nmsg.payload = {\n    requestType: 'RegisterReport',\n    oadrRegisterReport: payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1340,"wires":[["578ac1b4.838f7"]]},{"id":"3d45ac23.5034b4","type":"inject","z":"1dffdf2e.789011","name":"Register w/ Push xmlSignature","topic":"","payload":"CreatePartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":840,"wires":[["9b5c888d.9795a8"]]},{"id":"9b5c888d.9795a8","type":"function","z":"1dffdf2e.789011","name":"CreateParty Push","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"CreatePartyRegistration\",\n    oadrHttpPullModel: false,\n    xmlSignature: true,\n    //oadrTransportAddress: 'http://localhost:8843'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":840,"wires":[["578ac1b4.838f7"]]},{"id":"a0e34006.1ec15","type":"debug","z":"1dffdf2e.789011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":480,"wires":[]},{"id":"ffc26716.475538","type":"debug","z":"1dffdf2e.789011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":440,"wires":[]},{"id":"b18237f5.b1abd8","type":"ui_template","z":"1dffdf2e.789011","group":"225a8f1a.d7048","name":"Events","order":1,"width":"20","height":"10","format":"<!-- div ng-bind-html=\"msg.payload\"></div -->\n\n<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Status</span>\n  <span flex>Modification Number</span>\n  <span flex>Start</span>\n  <span flex>Dur</span>\n  <span flex>Sig Name</span>\n  <span flex>Sig Type</span>\n  <span flex>Sig Value</span>\n</div>\n<div ng-repeat=\"Event in msg.payload.data.oadrDistributeEvent.oadrEvent\">\n    <div layout=\"row\" layout-align=\"start center\" ng-repeat=\"Signal in Event.eiEvent.eiEventSignals.eiEventSignal\">\n      <span flex style=\"color: gray\">{{($index == 0 ) ? Event.eiEvent.eventDescriptor.eventStatus: \"\"}}</span>\n      <span flex style=\"color: gray\">{{($index == 0 ) ? Event.eiEvent.eventDescriptor.modificationNumber: \"\"}}</span>\n      <span flex style=\"color: gray\">{{($index == 0 ) ? Event.eiEvent.eiActivePeriod.properties.dtstart.dateTime.date: \"\"}}</span>\n\n      <span flex style=\"color: gray\">{{($index == 0 ) ? Event.eiEvent.eiActivePeriod.properties.duration.duration: \"\"}}</span>\n      <span flex style=\"color: gray\">{{Signal.signalName}}</span>\n      <span flex style=\"color: gray\">{{Signal.signalType}}</span>\n      <span flex style=\"color: gray\">{{Signal.currentValue.payloadFloat.value}}</span>\n    </div>\n</div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":850,"y":100,"wires":[["29323785.22e678"]]},{"id":"49f884b6.90693c","type":"ui_text","z":"1dffdf2e.789011","group":"209e5971.89aa06","order":1,"width":0,"height":0,"name":"","label":"vtnID","format":"{{msg.payload.vtnID}}","layout":"row-left","x":1330,"y":1400,"wires":[]},{"id":"1fb4a400.1689ac","type":"ui_text","z":"1dffdf2e.789011","group":"209e5971.89aa06","order":2,"width":0,"height":0,"name":"venID","label":"venID","format":"{{msg.payload.venID}}","layout":"row-left","x":1325.625,"y":1446.8749923706055,"wires":[]},{"id":"d85b6d1c.56677","type":"ui_text","z":"1dffdf2e.789011","group":"209e5971.89aa06","order":3,"width":0,"height":0,"name":"","label":"registrationID","format":"{{msg.payload.registrationID}}","layout":"row-left","x":1341.8749694824219,"y":1491.8749923706055,"wires":[]},{"id":"b23f4853.ec7be8","type":"link in","z":"1dffdf2e.789011","name":"UI_IDS","links":["48228dd7.b0df94","42b0cc70.70e1e4"],"x":1215,"y":1460,"wires":[["49f884b6.90693c","1fb4a400.1689ac","d85b6d1c.56677"]]},{"id":"bca19151.e0c12","type":"link out","z":"1dffdf2e.789011","name":"","links":["a9e3e376.866f3"],"x":855,"y":1600,"wires":[]},{"id":"e850ea4b.0f1938","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"RegisterReport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":1480,"wires":[["721e9bbe.c06ca4"]]},{"id":"428c5e2d.b7928","type":"function","z":"1dffdf2e.789011","name":"Multiple RegisterReport","func":"msg.payload = {}\n\nvar dt = new Date().toISOString();\nvar reportTestTelemetry = {\n   \"eiReportID\": \"reportTestTelemetry\",\n   \"reportRequestID\": \"0\",\n   \"reportSpecifierID\": \"reportTestTelemetry\",\n   \"reportName\": \"METADATA_TELEMETRY_USAGE\",\n   \"createdDateTime\": dt,\n   oadrReportDescription: [\n        {\n            \"rid\": \"reportTestTelemetry_rid\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        } \n    ]\n}\n\nvar start = new Date(2018,0,1).toISOString();\nvar reportTestHistory = {\n   \"eiReportID\": \"reportTestHistory\",\n   \"reportRequestID\": \"0\",\n   \"reportSpecifierID\": \"reportTestHistory\",\n   \"reportName\": \"METADATA_HISTORY_USAGE\",\n   \"createdDateTime\": dt,\n   \"duration\": \"P1Y\",\n   \"dtstart\": start,\n   oadrReportDescription: [\n        {\n            \"rid\": \"reportTestTelemetry_rid_1\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        },\n        {\n            \"rid\": \"reportTestTelemetry_rid_2\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        } \n    ]\n}\n\nvar payload = {\n    requestID:\"0\",\n    venID:global.get(\"DEMO_VEN_NODE:IDs\").venID,\n    oadrReport: [\n       reportTestTelemetry,\n       reportTestHistory\n    ]\n}\n\nmsg.payload = {\n    requestType: 'RegisterReport',\n    oadrRegisterReport: payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1480,"wires":[["bca19151.e0c12"]]},{"id":"721e9bbe.c06ca4","type":"ui_button","z":"1dffdf2e.789011","name":"","group":"ee3b7d6e.35fe2","order":4,"width":0,"height":0,"passthru":false,"label":"Register Report","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":360,"y":1480,"wires":[["428c5e2d.b7928"]]},{"id":"93bd91b1.7fdfa","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"QueryRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":1540,"wires":[[]]},{"id":"7626fe78.b7177","type":"ui_button","z":"1dffdf2e.789011","name":"","group":"ee3b7d6e.35fe2","order":2,"width":0,"height":0,"passthru":false,"label":"Query Registration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":1540,"wires":[["39ccefd4.3ef57"]]},{"id":"752f9cf6.05b124","type":"function","z":"1dffdf2e.789011","name":"CreateParty Push","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"CreatePartyRegistration\",\n    oadrHttpPullModel: false,\n    stripPayloadEnv: true,\n    //oadrTransportAddress: 'http://localhost:8843'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1600,"wires":[["bca19151.e0c12"]]},{"id":"99b9e32a.ab1f8","type":"inject","z":"1dffdf2e.789011","name":"CreatePartyRegistration","topic":"","payload":"CreatePartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":1600,"wires":[["51b9749d.030a5c"]]},{"id":"51b9749d.030a5c","type":"ui_button","z":"1dffdf2e.789011","name":"","group":"ee3b7d6e.35fe2","order":1,"width":0,"height":0,"passthru":false,"label":"Create Party Registration","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":1600,"wires":[["752f9cf6.05b124"]]},{"id":"39ccefd4.3ef57","type":"function","z":"1dffdf2e.789011","name":"QueryRegistration","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"QueryRegistration\",\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1540,"wires":[["bca19151.e0c12"]]},{"id":"dbb740e1.52dd8","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"RequestEvent","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":1660,"wires":[["e56b0de1.977aa"]]},{"id":"e56b0de1.977aa","type":"ui_button","z":"1dffdf2e.789011","name":"","group":"ee3b7d6e.35fe2","order":3,"width":0,"height":0,"passthru":false,"label":"Request Event","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":1660,"wires":[["2c95a975.514cd6"]]},{"id":"2c95a975.514cd6","type":"function","z":"1dffdf2e.789011","name":"RequestEvent","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"RequestEvent\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1660,"wires":[["bca19151.e0c12"]]},{"id":"d083b1e6.87033","type":"inject","z":"1dffdf2e.789011","name":"","topic":"","payload":"Clean States","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":1740,"wires":[["50fd239.61862dc"]]},{"id":"50fd239.61862dc","type":"ui_button","z":"1dffdf2e.789011","name":"","group":"ee3b7d6e.35fe2","order":3,"width":0,"height":0,"passthru":true,"label":"Clean States","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":1740,"wires":[["6e107d77.cad854","af328027.22281"]]},{"id":"6e107d77.cad854","type":"function","z":"1dffdf2e.789011","name":"Clean Registration","func":"return {\n    payload: {\n        vtnID: \"\",\n        venID: \"\",\n        registrationID: \"\"\n    }\n}","outputs":1,"noerr":0,"x":570,"y":1740,"wires":[["42b0cc70.70e1e4"]]},{"id":"af328027.22281","type":"function","z":"1dffdf2e.789011","name":"Clean Events","func":"return {\n    payload: {\n        data: {\n            oadrDistributeEvent: {\n                oadrEvent: []\n            }\n        }\n    }\n}","outputs":1,"noerr":0,"x":570,"y":1800,"wires":[["34d479c6.452896"]]},{"id":"34d479c6.452896","type":"link out","z":"1dffdf2e.789011","name":"EVENTS","links":["4b35c.fba74ca4"],"x":695,"y":1800,"wires":[]},{"id":"4b35c.fba74ca4","type":"link in","z":"1dffdf2e.789011","name":"","links":["34d479c6.452896"],"x":720,"y":100,"wires":[["b18237f5.b1abd8"]]},{"id":"42b0cc70.70e1e4","type":"link out","z":"1dffdf2e.789011","name":"","links":["72471075.73fb","b23f4853.ec7be8","4c762ac5.f464d4"],"x":915,"y":1680,"wires":[]}]